* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* ---- Variables ---- */
/* Fonts */
@font-face {
  font-family: Tungsten-Black;
  src: url("../fonts/Tungsten Rounded Black.otf");
}
@font-face {
  font-family: Tungsten-Bold;
  src: url("../fonts/Tungsten Rounded Bold.otf");
}
@font-face {
  font-family: Tungsten-SemiBold;
  src: url("../fonts/Tungsten Rounded SemiBold.otf");
}
@font-face {
  font-family: Tungsten-Medium;
  src: url("../fonts/Tungsten Rounded Medium.otf");
}
@font-face {
  font-family: Tungsten-Book;
  src: url("../fonts/Tungsten Rounded Book.otf");
}
@font-face {
  font-family: Tungsten-Light;
  src: url("../fonts/Tungsten Rounded Light.otf");
}
/* bg-color */
.gb-gray {
  background-color: #E4E9E6;
}

.gb-grayDark {
  background-color: #5C5B5D;
}

.bg-grayL {
  background-color: #DCDCDE;
}

/* --- Estilos para textos --- */
.text-yellow {
  color: #FDBE34;
}

.text-yellow2 {
  color: #F6B100;
}

.font-SemiBold {
  font-family: Tungsten-SemiBold !important;
}

.p-menu {
  margin: 0 auto;
  padding: 0;
  font-size: 2.4rem;
  line-height: 1.4;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-family: Tungsten-SemiBold;
}

.super-title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 3px;
  font-family: Tungsten-Bold;
  margin: 0;
}

.p-principal {
  margin: 0 auto;
  padding: 0;
  font-size: 1.9rem;
  line-height: 1.1;
  letter-spacing: 1.5px;
  font-family: Tungsten-Medium;
}
.p-principal span {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Tungsten-SemiBold;
}

.title_socio {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-SemiBold;
}
.title_socio span {
  display: block;
  line-height: 0.8;
  font-size: 6.8rem;
  font-family: Tungsten-SemiBold;
}

.p-product {
  margin: 0 auto;
  padding: 0;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 1.5px;
  font-family: Tungsten-Book;
}
.p-product span {
  color: #F15A36;
  font-family: Tungsten-Bold;
}

.p-dark {
  color: #5F5F63;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-Medium;
}
.p-dark span {
  font-family: Tungsten-Bold;
}

.p-circle {
  color: #F15A36;
  margin: 0;
  padding: 0;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: 3px;
  font-family: Tungsten-Bold;
}
.p-circle span {
  font-family: Tungsten-SemiBold;
}

.title_peludo {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-SemiBold;
}
.title_peludo span {
  line-height: 0.8;
  font-size: 6.8rem;
}

.subtitle_peludo {
  margin: 0;
  font-size: 4.1rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-SemiBold;
}

.p_peludo {
  margin: 0;
  padding: 0;
  font-size: 2.9rem;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 2px;
  font-family: Tungsten-Medium;
}

.title_contact {
  font-size: 3.3rem;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: Tungsten-SemiBold;
}
.title_contact span {
  display: block;
  line-height: 0.8;
  font-size: 4.4rem;
  font-family: Tungsten-SemiBold;
}

.subtitle_contact {
  font-size: 2.4rem;
  letter-spacing: 1px;
  line-height: 1;
  font-family: Tungsten-SemiBold;
}
.subtitle_contact span {
  display: block;
  line-height: 0.8;
  font-size: 2.5rem;
  font-family: Tungsten-Bold;
}

.p_contacto {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Tungsten-Book;
}

.p-nota {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
  font-family: Tungsten-Book;
}
.p-nota span {
  letter-spacing: 1px;
  font-family: Tungsten-Black;
}

.title_footer {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: Tungsten-Medium;
}

.p-footer {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1;
  font-family: Tungsten-SemiBold;
}

.title_hola {
  font-size: 5.5rem;
  letter-spacing: 3px;
  font-family: Tungsten-Bold;
}
.title_hola span {
  font-size: 5rem;
  font-family: Tungsten-Medium;
  display: block;
}

.title_text {
  font-size: 3.3rem;
  letter-spacing: 3px;
  font-family: Tungsten-Medium;
}

.p-text {
  font-size: 2.5rem;
  letter-spacing: 3px;
  line-height: 1;
  font-family: Tungsten-Book;
}

.title_info {
  font-size: 2.8rem;
  line-height: 1.1;
  letter-spacing: 2px;
  font-family: Tungsten-Book;
}

.p-info {
  font-size: 4.1rem;
  letter-spacing: 3px;
  line-height: 1;
  font-family: Tungsten-Bold;
}

.title_tabla {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  letter-spacing: 3px;
  line-height: 1;
  font-family: Tungsten-SemiBold;
  text-transform: uppercase;
}

.p-tableI {
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 1;
  font-family: Tungsten-Book;
}

.p-tableD {
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: Tungsten-Bold;
}

.titleMascotas {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 1;
  font-family: Tungsten-SemiBold;
}

.titleCard {
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1;
  font-family: Tungsten-SemiBold;
}

/* ---- Btns ---- */
.btnOrange_sm {
  margin: 1rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.1rem 1.5rem 0.3rem;
  background-color: #F15A36;
  border-radius: 0.7rem;
}
.btnOrange_sm .text_btnO {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.9rem;
  text-align: center;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-Light;
}

.btnOrange_lg {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 75%;
  padding: 0.2rem 0;
  background-color: #F15A36;
  border-radius: 0.9rem;
}
.btnOrange_lg .text_btnO {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Tungsten-SemiBold;
}

.btnGreen_xl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0 5rem;
  background-color: #64BC45;
  border-radius: 0.9rem;
  border: 3px solid #FFFFFF;
}
.btnGreen_xl .text_btnO {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Tungsten-SemiBold;
}

.btnGreen_sm {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 6rem;
  padding: 0.2rem 2.5rem;
  background-color: #64BC45;
  border-radius: 0.9rem;
  border: 3px solid #FFFFFF;
}
.btnGreen_sm .text_btnO {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.9rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 3px;
  font-family: Tungsten-SemiBold;
}

.btnGreen_sm a, .btnGreen_xl a, .btnOrange_lg a, .btnOrange_sm a {
  color: #FFFFFF;
  text-decoration: none;
}

/* ------------------------- */
/* ------- Media Query ------*/
@media (max-width: 1440px) {
  .p-menu {
    font-size: 2.2rem;
  }

  .super-title {
    font-size: 3.6rem;
  }

  .p-principal {
    font-size: 1.6rem;
  }
  .p-principal span {
    font-size: 1.8rem;
  }

  .title_socio {
    font-size: 4rem;
  }
  .title_socio span {
    font-size: 5.5rem;
  }

  .p-product {
    margin: 0 auto;
    padding: 0;
    font-size: 1.7rem;
  }

  .p-dark {
    color: #5F5F63;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2.3rem;
  }

  .p-circle {
    font-size: 2rem;
  }

  .title_peludo {
    font-size: 3.5rem;
  }
  .title_peludo span {
    font-size: 6rem;
  }

  .subtitle_peludo {
    font-size: 3.5rem;
  }

  .p_peludo {
    font-size: 2.2rem;
  }

  .title_contact {
    font-size: 3.3rem;
  }
  .title_contact span {
    font-size: 4.4rem;
  }

  .subtitle_contact {
    font-size: 2.2rem;
  }
  .subtitle_contact span {
    font-size: 2.3rem;
  }

  .p_contacto {
    font-size: 2rem;
  }

  .p-nota {
    font-size: 1.8rem;
  }

  .title_footer {
    font-size: 1.3rem;
  }

  .p-footer {
    font-size: 1.1rem;
  }

  .title_hola {
    font-size: 5.5rem;
    letter-spacing: 3px;
    font-family: Tungsten-Bold;
  }
  .title_hola span {
    font-size: 5rem;
    font-family: Tungsten-Medium;
    display: block;
  }

  .title_text {
    font-size: 3.3rem;
    letter-spacing: 3px;
    font-family: Tungsten-Medium;
  }

  .p-text {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-Book;
  }

  .title_info {
    font-size: 2.8rem;
    line-height: 1.1;
    letter-spacing: 2px;
    font-family: Tungsten-Book;
  }

  .p-info {
    font-size: 4.1rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-Bold;
  }

  .title_tabla {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
    text-transform: uppercase;
  }

  .p-tableI {
    font-size: 2.8rem;
    letter-spacing: 1px;
    line-height: 1;
    font-family: Tungsten-Book;
  }

  .p-tableD {
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 1.1;
    font-family: Tungsten-Bold;
  }

  .titleMascotas {
    font-size: 5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
  }

  .titleCard {
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
  }

  /* ---- Btns ---- */
  .btnOrange_sm {
    padding: 0.1rem 1rem 0.3rem;
  }
  .btnOrange_sm .text_btnO {
    font-size: 1.5rem;
  }

  .btnOrange_lg {
    width: 100%;
  }
  .btnOrange_lg .text_btnO {
    font-size: 2rem;
  }

  .btnGreen_xl {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 0 5rem;
    background-color: #64BC45;
    border-radius: 0.9rem;
    border: 3px solid #FFFFFF;
  }
  .btnGreen_xl .text_btnO {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }

  .btnGreen_sm {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto auto 6rem;
    padding: 0.2rem 2.5rem;
    background-color: #64BC45;
    border-radius: 0.9rem;
    border: 3px solid #FFFFFF;
  }
  .btnGreen_sm .text_btnO {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }
}
@media (max-width: 1024px) {
  .super-title {
    font-size: 2.8rem;
  }

  .p-principal {
    font-size: 1.1rem;
  }
  .p-principal span {
    font-size: 1.4rem;
  }

  .title_socio {
    font-size: 3.4rem;
  }
  .title_socio span {
    font-size: 4.5rem;
  }

  .p-product {
    margin: 0 auto;
    padding: 0;
    font-size: 1.3rem;
  }

  .p-dark {
    color: #5F5F63;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2rem;
  }

  .p-circle {
    color: #F15A36;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 3px;
    font-family: Tungsten-Bold;
  }
  .p-circle span {
    font-family: Tungsten-SemiBold;
  }

  .title_peludo {
    font-size: 3.5rem;
  }
  .title_peludo span {
    font-size: 6rem;
  }

  .subtitle_peludo {
    font-size: 3.5rem;
  }

  .p_peludo {
    font-size: 2.2rem;
  }

  .title_contact {
    font-size: 2.8rem;
  }
  .title_contact span {
    font-size: 3.2rem;
  }

  .subtitle_contact {
    font-size: 1.8rem;
  }
  .subtitle_contact span {
    font-size: 1.9rem;
  }

  .p_contacto {
    font-size: 1.6rem;
  }

  .p-nota {
    font-size: 1.3rem;
  }

  .title_footer {
    font-size: 1.1rem;
  }

  .p-footer {
    font-size: 0.9rem;
  }

  .title_hola {
    font-size: 5.5rem;
    letter-spacing: 3px;
    font-family: Tungsten-Bold;
  }
  .title_hola span {
    font-size: 5rem;
    font-family: Tungsten-Medium;
    display: block;
  }

  .title_text {
    font-size: 3.3rem;
    letter-spacing: 3px;
    font-family: Tungsten-Medium;
  }

  .p-text {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-Book;
  }

  .title_info {
    font-size: 2.8rem;
    line-height: 1.1;
    letter-spacing: 2px;
    font-family: Tungsten-Book;
  }

  .p-info {
    font-size: 4.1rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-Bold;
  }

  .title_tabla {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
    text-transform: uppercase;
  }

  .p-tableI {
    font-size: 2.8rem;
    letter-spacing: 1px;
    line-height: 1;
    font-family: Tungsten-Book;
  }

  .p-tableD {
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 1.1;
    font-family: Tungsten-Bold;
  }

  .titleMascotas {
    font-size: 5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
  }

  .titleCard {
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
  }

  /* ---- Btns ---- */
  .btnOrange_sm {
    padding: 0.1rem 1rem 0.3rem;
  }
  .btnOrange_sm .text_btnO {
    font-size: 1.5rem;
  }

  .btnOrange_lg {
    width: 100%;
  }
  .btnOrange_lg .text_btnO {
    font-size: 2rem;
  }

  .btnGreen_xl {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 0 5rem;
    background-color: #64BC45;
    border-radius: 0.9rem;
    border: 3px solid #FFFFFF;
  }
  .btnGreen_xl .text_btnO {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }

  .btnGreen_sm {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto auto 6rem;
    padding: 0.2rem 2.5rem;
    background-color: #64BC45;
    border-radius: 0.9rem;
    border: 3px solid #FFFFFF;
  }
  .btnGreen_sm .text_btnO {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }
}
@media (max-width: 968px) {
  .p-menu {
    font-size: 2.2rem;
  }

  .super-title {
    font-size: 2.2rem;
  }

  .p-principal {
    font-size: 1.1rem;
  }
  .p-principal span {
    font-size: 1.4rem;
  }

  .title_socio {
    font-size: 2.8rem;
  }
  .title_socio span {
    font-size: 3.5rem;
  }

  .p-product {
    margin: 0 auto;
    padding: 0;
    font-size: 1.2rem;
  }

  .p-dark {
    color: #5F5F63;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2rem;
  }

  .p-circle {
    color: #F15A36;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 3px;
    font-family: Tungsten-Bold;
  }
  .p-circle span {
    font-family: Tungsten-SemiBold;
  }

  .title_peludo {
    font-size: 3.5rem;
  }
  .title_peludo span {
    font-size: 6rem;
  }

  .subtitle_peludo {
    font-size: 3.5rem;
  }

  .p_peludo {
    font-size: 2.2rem;
  }

  .title_contact {
    font-size: 2.8rem;
  }
  .title_contact span {
    font-size: 3.2rem;
  }

  .subtitle_contact {
    font-size: 1.8rem;
  }
  .subtitle_contact span {
    font-size: 1.9rem;
  }

  .p_contacto {
    font-size: 1.6rem;
  }

  .p-nota {
    font-size: 1.3rem;
  }

  .title_footer {
    font-size: 1.1rem;
  }

  .p-footer {
    font-size: 0.9rem;
  }

  .title_hola {
    font-size: 5.5rem;
    letter-spacing: 3px;
    font-family: Tungsten-Bold;
  }
  .title_hola span {
    font-size: 5rem;
    font-family: Tungsten-Medium;
    display: block;
  }

  .title_text {
    font-size: 3.3rem;
    letter-spacing: 3px;
    font-family: Tungsten-Medium;
  }

  .p-text {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-Book;
  }

  .title_info {
    font-size: 2.8rem;
    line-height: 1.1;
    letter-spacing: 2px;
    font-family: Tungsten-Book;
  }

  .p-info {
    font-size: 4.1rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-Bold;
  }

  .title_tabla {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
    text-transform: uppercase;
  }

  .p-tableI {
    font-size: 2.8rem;
    letter-spacing: 1px;
    line-height: 1;
    font-family: Tungsten-Book;
  }

  .p-tableD {
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 1.1;
    font-family: Tungsten-Bold;
  }

  .titleMascotas {
    font-size: 5rem;
    letter-spacing: 3px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
  }

  .titleCard {
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
    font-family: Tungsten-SemiBold;
  }

  /* ---- Btns ---- */
  .btnOrange_sm {
    padding: 0.1rem 1rem 0.3rem;
  }
  .btnOrange_sm .text_btnO {
    font-size: 1.5rem;
  }

  .btnOrange_lg {
    width: 100%;
  }
  .btnOrange_lg .text_btnO {
    font-size: 2rem;
  }

  .btnGreen_xl {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 0 5rem;
    background-color: #64BC45;
    border-radius: 0.9rem;
    border: 3px solid #FFFFFF;
  }
  .btnGreen_xl .text_btnO {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }

  .btnGreen_sm {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto auto 6rem;
    padding: 0.2rem 2.5rem;
    background-color: #64BC45;
    border-radius: 0.9rem;
    border: 3px solid #FFFFFF;
  }
  .btnGreen_sm .text_btnO {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }
}
@media (max-width: 767px) {
  .p-menu {
    font-size: 2.4rem;
  }

  .super-title {
    font-size: 3rem;
  }

  .p-principal {
    font-size: 1.5rem;
  }
  .p-principal span {
    font-size: 1.6rem;
  }

  .title_socio {
    font-size: 2.2rem;
    font-family: Tungsten-Bold;
  }
  .title_socio span {
    font-size: 3rem;
    font-family: Tungsten-Bold;
  }

  .p-product {
    font-size: 1rem;
  }

  .p-dark {
    letter-spacing: 1px;
    font-size: 1.5rem;
  }

  .p-circle {
    font-size: 1.6rem;
  }

  .title_peludo {
    font-size: 3rem;
  }
  .title_peludo span {
    font-size: 5rem;
  }

  .subtitle_peludo {
    font-family: Tungsten-Bold;
    font-size: 3rem;
  }

  .p_peludo {
    font-size: 1.9rem;
    letter-spacing: 1px;
  }

  .title_contact {
    font-size: 2.2rem;
  }
  .title_contact span {
    font-size: 2.6rem;
  }

  .subtitle_contact {
    font-size: 1.8rem;
  }
  .subtitle_contact span {
    font-size: 2rem;
  }

  .p_contacto {
    font-size: 1.5rem;
  }

  .p-nota {
    font-size: 1.3rem;
  }

  .title_footer {
    font-size: 1rem;
  }

  .p-footer {
    font-size: 0.8rem;
    line-height: 2;
  }

  .title_hola {
    font-size: 4rem;
  }
  .title_hola span {
    font-size: 4rem;
  }

  .title_text {
    font-size: 2.8rem;
  }

  .p-text {
    font-size: 2rem;
  }
  .p-text br {
    display: none;
  }

  .title_info {
    font-size: 2rem;
  }

  .p-info {
    font-size: 2.5rem;
  }

  .title_tabla {
    font-size: 1.8rem;
  }

  .p-tableI {
    font-size: 1.4rem;
    line-height: 1.1;
  }

  .p-tableD {
    font-size: 1.5rem;
  }

  /* ---- Btns ---- */
  .btnOrange_sm .text_btnO {
    font-size: 1.7rem;
  }

  .btnOrange_lg {
    border-radius: 1rem;
    padding: 0.1rem 0;
  }
  .btnOrange_lg .text_btnO {
    font-size: 1.5rem;
  }

  .btnGreen_xl {
    padding: 0;
    width: 55%;
  }
  .btnGreen_xl .text_btnO {
    font-size: 1.3rem;
  }

  .btnGreen_sm {
    border-radius: 0.6rem;
    padding: 0.3rem 2.5rem;
  }
  .btnGreen_sm .text_btnO {
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
}